name: Ansible Deployments Testing on ECMWF

on:
  workflow_dispatch:
    inputs:
      item-names:
        description: Optional list of item names to test (comma-separated). If not set, all eligible ones are processed
        required: false
        type: string

      polling-interval-seconds:
        description: Polling interval in seconds, for querying downstream status
        required: true
        default: 60
        type: number

      run-timeout-minutes:
        description: Max per-workflow runtime. If the corresponding downstream run is in progress, it will be marked as timed out
        required: true
        default: 10
        type: number

      max-concurrent-workflows:
        description: Max number of concurrent downstream workflows
        required: true
        default: 5
        type: number

permissions:
  contents: read
  actions: write

jobs:
  orchestrate:
    name: Deployment test
    runs-on: ubuntu-latest
    timeout-minutes: 100

    steps:
      - name: Checkout catalog repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install additional dependencies
        run: pip install -r .github/scripts/orchestrator/requirements.txt

      - name: Orchestrate deployments testing
        run: python .github/scripts/orchestrator/main.py
        env:
          GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}
          ITEM_NAMES: ${{ inputs.item-names }}
          ITEM_TECHNOLOGY_ANNOTATIONS: "Ansible Playbook"
          ITEM_OTHERS_ANNOTATIONS: "Deployable"
          POLLING_INTERVAL_SECONDS: ${{ inputs.polling-interval-seconds }}
          RUN_TIMEOUT_MINUTES: ${{ inputs.run-timeout-minutes }}
          MAX_CONCURRENT_WORKFLOWS: ${{ inputs.max-concurrent-workflows }}
          GH_DOWNSTREAM_WORKFLOW_FILE: "test-ecmwf.yml"
          TOTAL_TIMEOUT_MINUTES: 90 # must be smaller than jobs.orchestrate.timeout-minutes
