name: Ansible Deployments Testing on ECMWF

on:
  workflow_dispatch:
    inputs:
      items-filter:
        description: Optional list of items to test (comma-separated). If not set, all eligible ones are processed
        required: false
        type: string

      polling-interval-seconds:
        description: Polling interval in seconds, for querying downstream status
        required: true
        default: 60
        type: number

      run-timeout-minutes:
        description: Max per-workflow runtime. If the corresponding downstream run is in progress, it will be marked as timed out
        required: true
        default: 10
        type: number

      total-timeout-minutes:
        description: Max total runtime for the orchestrator workflow. Any downstream runs in progress at this point will be marked as timed out
        required: true
        default: 90
        type: number

      max-concurrent-workflows:
        description: Max number of concurrent downstream workflows
        required: true
        default: 5
        type: number

permissions:
  contents: read
  actions: write

jobs:
  orchestrate:
    name: Deployment test
    runs-on: ubuntu-latest
    timeout-minutes: 100 # must be bigger than inputs.total-timeout-minutes

    steps:
      - name: Checkout catalog repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install additional dependencies
        run: pip install -r .github/src/orchestrator/requirements.txt

      - name: Orchestrate deployments testing
        run: python .github/src/orchestrator/main.py
        env:
          GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}
          ITEMS_FILTER: ${{ inputs.items-filter }}
          POLLING_INTERVAL_SECONDS: ${{ inputs.polling-interval-seconds }}
          RUN_TIMEOUT_MINUTES: ${{ inputs.run-timeout-minutes }}
          TOTAL_TIMEOUT_MINUTES: ${{ inputs.total-timeout-minutes }}
          MAX_CONCURRENT_WORKFLOWS: ${{ inputs.max-concurrent-workflows }}
          GH_DOWNSTREAM_WORKFLOW_FILE: "test-ecmwf.yml"
